{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  <h3 class="border-bottom mb-4">Committee</h3>
  <div class="row d-flex justify-content-center">
    {{ with .Params.committee }}
    {{ range . }}
    <div class="col-xl col-md-2 col-sm-3 col-4 mb-4 text-center">
      <img src="{{ .mugshot }}" alt="{{ .name }}" class="ratio ratio-1x1 rounded" />
      <h5 class="mt-2 mb-1"><span class="heavy">{{ .forename }}</span><br/>{{ .surname }}</h5>
      {{ range .roles }}
      <span class="badge text-bg-primary w-100 mb-1 py-1" style="text-wrap-mode: wrap; line-height: inherit;">{{ .|safeHTML }}</span>
      {{ end }}
    </div>
    {{ end }}
    {{ end }}
  </div>
{{ end }}

