{{ define "head" }}
<style>
  .MO {background-color: #048;}
  .B18, .M20, .M23, .M30, .M35, .M40, .M45, .M50, .M55 {background-color: #0489; font-weight: normal;}
  .WO {background-color: #c06;}
  .G18, .W20, .W23, .W27, .W35, .W40 {background-color: #c069; font-weight: normal;}
  .XO {background-color: #5b743c;}
  .X15, .X18, .X20, .X30 {background-color: #5b743c99; font-weight: normal;}
  .REF {background-color: #999; font-weight: normal;}
  .B18::after {content: "Boys' 18s";}
  .M20::after {content: "Men's 20s";}
  .MO::after {content: "Men's Open";}
  .M30::after {content: "Men's 30s";}
  .M35::after {content: "Men's 35s";}
  .M40::after {content: "Men's 40s";}
  .M45::after {content: "Men's 45s";}
  .M50::after {content: "Men's 50s";}
  .M55::after {content: "Men's 55s";}
  .G18::after {content: "Girls' 18s";}
  .W20::after {content: "Women's 20s";}
  .WO::after {content: "Women's Open";}
  .W27::after {content: "Women's 27s";}
  .W35::after {content: "Women's 35s";}
  .W40::after {content: "Women's 40s";}
  .X15::after {content: "Mixed 15s";}
  .X18::after {content: "Mixed 18s";}
  .X20::after {content: "Mixed 20s";}
  .XO::after {content: 'Mixed Open';}
  .X30::after {content: "Mixed 30s";}
  .REF::after {content: 'Referee';}
  .short {display: none;}
</style>
{{ end }}
{{ define "main" }}
<div class="lead mb-4">
  {{ .Content }}
</div>
{{ with .Params.caps }}
  <div class="row">
  {{ range . }}
    <div class="col-xxl-2 col-lg-3 col-md-4 col-6 mb-4">
      <img src="{{ if .photo }}{{ .photo }}{{ else }}placeholder.png{{ end }}" alt="{{ .name }}" class="rounded float-start me-2" width="50" height="50" />
      <div class="d-flex align-items-center flex-wrap">
        <h5><span class="heavy">{{ .forename }}</span><br/>{{ .surname }}</h5>
      </div>
      {{ $country := .country }}
      {{ range .divisions }}
       <span class="badge w-100 {{ . }} text-start">
         {{ if $country }}
           <img src="/images/flags/{{ lower $country }}.svg" alt="{{ $country }}"
                width="16" height="12" class="float-start me-2"/>
         {{ end }}
         {{ $country }} <span class="short">{{ . }}</span>
       </span>
      {{ end }}
    </div>
  {{ end }}
  </div>
{{ end }}
{{ end }}
