{{ define "main" }}
<div class="lead mb-4">
  {{ .Content }}
</div>
{{ with .Params.caps }}
  <div class="row">
  {{ range . }}
    <div class="col-md-12 col-lg-6 col-xxl-4 mb-4">
      <img src="{{ if .photo }}{{ .photo }}{{ else }}placeholder.png{{ end }}" alt="{{ .name }}" class="rounded float-start me-2" width="57" height="57" />
      <div class="d-flex align-items-center flex-wrap">
        <img src="/images/flags/{{ if .country }}{{ lower .country }}{{ else }}england{{ end }}.svg"
             alt="{{ if .country }}{{ .country }}{{ else }}England{{ end }}"
             width="32" height="24" class="border me-2"/>
        <h4 class="mb-0">{{ .name }}</h4>
      </div>
      <h6 class="text-secondary mt-2">
      {{ if .open_divisions }}
        <span class="heavy">{{ .open_divisions | safeHTML }}</span>
      {{ end }}
      {{ if .other_divisions }}
        {{ if .open_divisions }} | {{ end }}
        {{ .other_divisions | safeHTML }}
      {{ end }}
      </h6>
    </div>
  {{ end }}
  </div>
{{ end }}
{{ end }}
