<div class="col-md-6 col-lg-4 col-xl-3 mb-2">
  <a href="{{ .RelPermalink }}">
  {{ if .Params.image }}
    {{ with .Resources.GetMatch .Params.image }}
    {{ $image := .Resize "640x Lanczos q95" }}
      <img src="{{ $image.RelPermalink }}" class="ratio ratio-4x3 rounded" style="border: 1px solid rgba(0, 0, 0, .1);"/>
    {{ end }}
  {{ else }}
      <img src="/images/logos/invictatouch_gradient_rect.png" class="ratio ratio-4x3 rounded"/>
  {{ end }}
  </a>

  <h5 class="mt-2 mb-0"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h5>
  <div class="small text-secondary mb-2">{{ time.Format "2 January 2006" .Params.date }}</div>
  <p class="small text-muted">
    {{ .Summary }}
  </p>
</div>
